#bg1{
    background: url("https://static.wixstatic.com/media/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg/v1/fill/w_1903,h_1124,al_b,q_90,usm_0.66_1.00_0.01,enc_auto/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg");
    background-attachment: fixed;
    background-color:rgba(192, 192, 192, 0.70);
    background-blend-mode:hue;
    background-repeat: no-repeat;
    overflow: hidden;
    height:1400px;
    padding-top: 150px;
}

#socialLogo{
    position: relative;
    top:80%;
}

#banner1{
    background-color: #d1cac9;
}

hr{
    background-color: black;
    width: 20%;
    height: 2px;
    margin:auto, 0;
}

.card-body{
    background-color: #d1cac9;
}
.card-text{
    text-align: center;
}